/* Reset default styles */
body, html, h1, h2, h3, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color:rgb(5, 84, 17);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

main {
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}